<section id="search">
    <h1>Search</h1>
    <form action="#" method="GET" class="form">
        <input
            type="text"
            class="search"
            name="title"
            value="{{query.title}}"
            placeholder="Title..."
        />
        <input
            type="text"
            name="genre"
            class="genre"
            value="{{query.genre}}"
            placeholder="Genre..."
        />
        <input
            type="number"
            name="year"
            class="year"
            value="{{query.year}}"
            placeholder="Year..."
        />
        <input type="submit" />
    </form>
</section>

<section id="catalog">
    <div class="band">
        {{#each movies}}
            <div class="flip flip-vertical">
                <div class="front">
                    <img src="{{imageURL}}" alt={{title}} />
                </div>
                <div class="back">
                    <h1>{{title}}</h1>
                    <h2>Genre: {{genre}}</h2>
                    <p>
                        Description:
                        {{description}}
                    </p>
                    <a href="/details/{{id}}" class="details">Details</a>
                </div>
            </div>
        {{else}}
            <!-- If there are still no posts in the database display: -->
            <div class="no-posts">
                <p class="no-offer">Nothing found</p>
            </div>
        {{/each}}
    </div>
</section>